{% extends "admin/layout/user.twig" %}

{% block style_below %}
    <link rel="stylesheet" href="/public/css/filepond.min.css">
{% endblock %}

{% block content %}

    <main class="main">

        <div class="card mt-3">
            <div class="card-body" style="position:relative">
                <h3>ุณูุงุฑุด ุชุฑุฌูู ุฌุฏุฏ</h3>
                <form class="form-wrapper mt-5 new-order-form" method="POST" enctype="multipart/form-data" action="/user/order/save">
                    <input type="hidden" name="order_files" id="uploaded-files">
                    <input type="hidden" name="csrf_name" value="{{csrf_name}}">
                    <input type="hidden" name="csrf_value" value="{{csrf_value}}">

                    <div class="container-fluid step step-1">

                        {# <h4 class="text-center">ุงุทูุงุนุงุช ุชุฑุฌูู</h4> #}

                        <div class=" row">
                            <div class="form-group col-lg-3 col-md-6">
                                <label for="type">ููุน ุชุฑุฌูู *</label>
                                <select name="translation_kind" id="type" class="form-control">
                                    <option value="1">
                                        ุนููู</option>

                                    <option value="2">
                                        ุชุฎุตุต</option>

                                </select>
                            </div>

                            <div class="form-group field_of_study col-lg-3 col-md-6">
                                <label for="field_of_study">ุฑุดุชู ุชุญุตุต</label>
                                <select name="field_of_study" id="field_of_study" class="form-control">
                                    <option value="0">ุงูุชุฎุงุจ ฺฉูุฏ</option>
                                    <option value="90">
                                        ุงุฏุจุงุช ู ุฒุจุงู ุดูุงุณ</option>
                                    <option value="89">
                                        ุงุณูุงุฏ ุชุฌุงุฑ</option>
                                    <option value="88">
                                        ุงูุชุตุงุฏ</option>
                                    <option value="86">
                                        ุจุฑู ู ุงูฺฉุชุฑููฺฉ</option>
                                    <option value="91">
                                        ุชุงุฑุฎ</option>
                                    <option value="41">
                                        ุชุฑุฌูู ฺฉุงุชุงููฺฏ</option>
                                    <option value="76">
                                        ุฌุบุฑุงูุง</option>
                                    <option value="75">
                                        ุญุณุงุจุฏุงุฑ</option>
                                    <option value="74">
                                        ุญููู</option>
                                    <option value="70">
                                        ุฑูุงู ุดูุงุณ</option>
                                    <option value="71">
                                        ุฑุงุถ</option>
                                    <option value="72">
                                        ุฒูู ุดูุงุณ ู ูุนุฏู</option>
                                    <option value="43">
                                        ุฒุฑููุณ ููู</option>
                                    <option value="73">
                                        ุฒุณุช ุดูุงุณ</option>
                                    <option value="67">
                                        ุดู</option>
                                    <option value="68">
                                        ุตูุงุน</option>
                                    <option value="69">
                                        ุตูุงุน ุบุฐุง</option>
                                    <option value="62">
                                        ุนููู ุงุฌุชูุงุน</option>
                                    <option value="63">
                                        ุนููู ุณุงุณ</option>
                                    <option value="64">
                                        ุนูุฑุงู</option>
                                    <option value="61">
                                        ุนููู</option>
                                    <option value="44">
                                        ูุงู ุตูุช ุชุตูุฑ</option>
                                    <option value="57">
                                        ููู ู ุนููู ุงุณูุงู</option>
                                    <option value="58">
                                        ููุณูู</option>
                                    <option value="59">
                                        ููุงูุฑ ุงุทูุงุนุงุช</option>
                                    <option value="60">
                                        ูุฒฺฉ</option>
                                    <option value="50">
                                        ูุชุงููุฑฺ ู ููุงุฏ</option>
                                    <option value="51">
                                        ูุญุท ุฒุณุช</option>
                                    <option value="49">
                                        ูุฏุฑุช</option>
                                    <option value="54">
                                        ููุงุจุน ุทุจุน ู ุดูุงุช</option>
                                    <option value="53">
                                        ูฺฉุงูฺฉ</option>
                                    <option value="47">
                                        ููุชุฺฏุงุฒ ู ูพุชุฑูุดู</option>
                                    <option value="92">
                                        ููุฑ ู ูุนูุงุฑ</option>
                                    <option value="46">
                                        ูุฑุฒุด ู ุชุฑุจุช ุจุฏู</option>
                                    <option value="85">
                                        ูพุฒุดฺฉ</option>
                                    <option value="93">
                                        ฺูุชฺฉ ู ูฺฉุฑูุจูููฺ</option>
                                    <option value="55">
                                        ฺฉุงููพูุชุฑ</option>
                                    <option value="56">
                                        ฺฉุดุงูุฑุฒ</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <label for="words">ุชุนุฏุงุฏ ฺฉููุงุช *</label>
                                <input class="form-control" type="number" name="word_numbers" id="words" value="{{words}}" placeholder="ุชุนุฏุงุฏ ฺฉููุงุช">
                                <span class="hint words--hint">ูุฑ ุตูุญู ุงุณุชุงูุฏุงุฑุฏุ 250 ฺฉููู ุงุณุช</span>
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <label for="language">ุฒุจุงู ุชุฑุฌูู *</label>
                                <select name="translation_lang" id="language" class="form-control">
                                    <option value="1">
                                        ุงูฺฏูุณ - ูุงุฑุณ</option>
                                    <option value="2">
                                        ูุงุฑุณ - ุงูฺฏูุณ</option>
                                </select>
                            </div>
                            <div class="col-lg-3 form-group col-md-6">
                                <label for="quality">ฺฉูุช ุชุฑุฌูู</label>
                                <select name="translation_quality" id="quality" class="form-control">
                                    <option value="5">ููุฑู ุง</option>
                                    <option value="10">ุทูุง</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <label for="discount">ฺฉุฏ ุชุฎูู</label>
                                <input type="text" name="discount_code" id="discount" class="form-control" placeholder="ฺฉุฏ ุชุฎูู">
                                <span class="hint">ุฌูุช ุฏุฑุงูุช ฺฉุฏ ุชุฎูู
                                    <a href="http://www.t.me/motarjem_one">ูพุงู</a>
                                    ุฏูุฏ</span>
                            </div>

                        </div>

                    </div>

                    <div class="container-fluid step step-2">
                        <h5 class="text-center">ุฒูุงู ุชุญูู *</h5>
                        <div class="row cf delivery-selection-wrap">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <input type="radio" name="delivery_type" value="1" id="normal">
                                <label class="deliver-selection" for="normal">
                                    <img src="/public/images/icon/walker.svg" alt="">
                                    <h4>ุนุงุฏ</h4>
                                </label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <input type="radio" name="delivery_type" value="2" id="half_an_instant">
                                <label class="deliver-selection" for="half_an_instant">
                                    <img src="/public/images/icon/running-man.svg" alt="">
                                    <h4>ููู ููุฑ</h4>
                                </label>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <input type="radio" name="delivery_type" value="3" id="instantaneous">
                                <label class="deliver-selection" for="instantaneous">
                                    <img src="/public/images/icon/rocket-launch.svg" alt="">
                                    <h4>ููุฑ</h4>
                                </label>
                            </div>

                        </div>
                        <p id="delivery-hint" style="text-align: center;margin-top: 1rem;"></p>
                        <div class="row pt-4">
                            <div class="col-12 pb-4">
                                <p>๐ฐููุชโฺฏุฐุงุฑ ูุฒูู ุชุฑุฌูู ุจุฑ ุญุณุจ ุชุนุฏุงุฏ ฺฉููุงุช ูุฑ ุตูุญู ูุญุงุธ ูโุดูุฏ ูู ุตูุญูโุง ุง ุฎุท.</p>
                                <p>๐ฐุฏุฑ ุชุฑุฌูู ููู ููุฑุ 10 ุชููุงู ุจู ูุฑุฎ ุชุฑุฌููโูุง ุงุถุงูู ูโุดูุฏ.
                                </p>
                                <p>๐ฐุฏุฑ ุชุฑุฌูู ููุฑุ ูุฑุฎ ุชุฑุฌููโูุง ุฏู ุจุฑุงุจุฑ ุญุณุงุจ ูโุดูุฏ.</p>
                            </div>
                            <div class="col-lg-12">
                                <h3 class="text-center">ุขูพููุฏ ูุงู (ูุง)</h3>
                            </div>
                            <div class="col-lg-4 col-sm-12 hints-for-upload">
                                <h4 class="py-2 text-center">ูฺฉุงุช ุขูพููุฏ ูุงู</h4>
                                <p class="text-right">
                                    ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช. ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช ู ุจุฑุง ุดุฑุงุท ูุนู ุชฺฉููููฺ ููุฑุฏ ูุงุฒ ู ฺฉุงุฑุจุฑุฏูุง ูุชููุน ุจุง ูุฏู ุจูุจูุฏ ุงุจุฒุงุฑูุง ฺฉุงุฑุจุฑุฏ ู ุจุงุดุฏ.
                                </p>
                            </div>
                            <div class="col-lg-8 col-sm-12 align-self-center">
                                <input type="file" class="filepond" name="file" multiple="multiple" id="file" data-max-file-size="3MB" data-max-files="3"/>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid step step-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 form-group">
                                <label for="fullname">ูุงู ู ูุงู ุฎุงููุงุฏฺฏ</label>
                                <input class="form-control" type="text" name="fullname" id="fullname" value="{{fname ~ " " ~ lname }}">
                            </div>
                            <div class="col-lg-4 form-group col-md-6">
                                <label for="phone_number">ุดูุงุฑู ููุฑุงู</label>
                                <input class="form-control" type="text" name="phone_number" id="phone_number" value="{{phone}}">
                                <span class="hint phone--hint"></span>
                            </div>
                            <div class="col-lg-4 form-group col-md-6">
                                <label for="email">ุงูู</label>
                                <input class="form-control" type="email" name="email" id="email" value="{{email}}">
                                <span class="hint email--hint"></span>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label for="description">ุชูุถุญุงุช</label>
                                <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                            </div>
                            <div class="col-lg-12 form-group">
                                <input class="btn btn-primary" type="submit" value="ุซุจุช ุณูุงุฑุด">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </main>

{% endblock %}

{% block script_below %}
    <script src='/public/js/filepond-plugin-file-encode.min.js'></script>
    <script src='/public/js/filepond-plugin-file-validate-size.min.js'></script>
    <script src='/public/js/filepond.min.js'></script>
    <script src="/public/js/panel/new-order.js"></script>
{% endblock %}