{% extends 'admin/layout/user.twig' %}
{% block style_below %}
    <link href="/public/css/medium-editor.min.css" rel="stylesheet"/>
    <link href="/public/css/medium-theme.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <main class="main  view-tickets">
        <div class="container-fluid row">
            <div class="col-md-8 chat-section">
                {% if ticket_details.state == "answered" %}
                    <div class="card answer-card">
                        <div class="card-header">
                            <i class="icon-note"></i>
                            پاسخ
                        </div>
                        <div class="card-body">
                            <form action="/user/ticket/reply/{{last_ticket_id}}" id="replyMessageForm" method="POST">
                                <input type="hidden" name="ticket_number" value="{{ticket_details.ticket_number}}">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label for="">نام شما</label>
                                            <input class="form-control" type="text" value="{{user.fname ~ " " ~ user.lname}}" disabled="disabled"/>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="">ایمیل شما</label>
                                            <input class="form-control" type="email" value="{{user.email}}" disabled="disabled"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">عنوان پیام</label>
                                            <input class="form-control" id="subject" name="subject" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">پیام شما</label>
                                        <textarea cols="30" id="medium-editor" name="body" rows="10"></textarea>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="ارسال پاسخ"></form>
                                </div>
                            </div>
                            {% else %}
                            {% if ticket_messages | length > 1 %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-center">برای پیام قبلی شما هنوز پاسخی ارسال نشده است !</h5>
                                    </div>
                                </div>
                                {% else %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-center">تا حالا پاسخی برای این تیکت داده نشده است !</h5>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% for ticket in ticket_messages %}
                            {% if ticket.sender_id == "0" %}
                                <div class="card card-default ticket is--answer">
                                    <div class="card-header">
                                        {% else %}
                                        <div class="card ticket  is--message mt-4">
                                            <div class="card-header bg-primary">
                                            {% endif %}
                                            <div class="card-header__title">
                                                <i class="icon-user"></i>
                                                {% if ticket.sender_id == "0" %}
                                                    <p>ادمین سایت
                                                    </p>
                                                    {% else %}
                                                    <p>
                                                        {{user.fname ~ " " ~ user.lname}}
                                                        (کاربر)</p>
                                                {% endif %}
                                            </div>
                                            <div class="card-header__date">
                                                {{ticket.sent_date_persian}}</div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="msg-title">
                                                {{ticket.subject}}</h4>
                                            <div class="msg-body">
                                                {{ticket.body | raw}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                <div class="card card-default">
                                    <div class="card-header">
                                        مشخصات تیکت
                                    </div>
                                    <div class="card-body no-pad">
                                        <ul class="list-group no-pad ticket-details">
                                            <li class="list-group-item">
                                                <div class="list-group-item__title">شماره تیکت:</div>
                                                <div class="list-group-item__value">#{{ticket_details.ticket_number}}</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="list-group-item__title">عنوان تیکت:</div>
                                                <div class="list-group-item__value">{{ticket_details.subject}}</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="list-group-item__title">وضعیت:</div>
                                
                                                <div class="list-group-item__value" id="state">{{ticket_details.state=="waiting" ? "در انتظار پاسخ" : "پاسخ داده شده"}}</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="list-group-item__title">تاریخ ایجاد تیکت:</div>
                                                <div class="list-group-item__value">{{ticket_details.create_date_persian}}</div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="list-group-item__title">آخرین بروزرسانی:</div>
                                                <div class="list-group-item__value" id="updateDate">{{ticket_details.update_date_persian}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </main>
                    {% endblock %}
                    {% block script_below %}
                        <script src="/public/js/panel/medium-editor.min.js"></script>
                        <script src="/public/js/sweetalert2@8.js"></script>
                        <script src="/public/js/panel/view-ticket.js"></script>
                    {% endblock %}
                