{% extends 'admin/layout/translator.twig' %}
{% block content %}
    <main class="main" style="min-height:550px">
        <div class="card">
            <div class="card-body">
                <h4>گزارش حساب شما</h4>
                <div class="row">
                    <div class="col-md-9">
                        <table id="orders-table" class="table is--responsive">
                        <thead>
                            <tr>
                                <th class="bg-teal-dark" scope="col">#</th>
                                <th class="bg-teal-dark" scope="col">زبان ترجمه</th>
                                <th class="bg-teal-dark" scope="col">کیفیت ترجمه</th>
                                <th class="bg-teal-dark" scope="col">هزینه ترجمه</th>
                                <th class="bg-teal-dark" scope="col">سهم شما</th>
                                <th class="bg-teal-dark" scope="col">جزییات</th>
                                
                            </tr>
                        </thead>
                        <tbody id="user-orders">
                            {% for order in completed_orders %}
                                {% set page_number = order.word_numbers / 250 | round(0,'ceil')  %}
                                <tr>
                                    <td data-label="شماره سفارش">{{ order.order_number }}</td>
                                    <td data-label="زبان ترجمه">
                                        {{
                    order.translation_lang == "1"
                      ? "انگلیسی به فارسی"
                      : "فارسی به انگلیسی"
                  }}
                                    </td>
                                    <td data-label="کیفیت ترجمه">
                                        {{ order.translation_quality == "5" ? "نقره ای" : "طلایی" }}
                                    </td>

                                    <td data-label="هزینه ترجمه">{{ order.order_price }}
                                        تومان</td>
                                    <td data-label="سهم شما">{{ (order.order_price*70)/100 | round(0,'ceil') }}
                                    <td data-label="جزییات" class="order-more-info">
                                        <a href="/user/order/view/{{ order.order_number }}">
                                            <svg width="13px" height="23px" viewbox="0 0 50 80" xml:space="preserve">
                                                <polyline fill="none" stroke="#a9a9a9" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "/></svg >
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}