{% extends 'admin/layout/translator.twig' %}
{% block content %}
    <main class="main" style="min-height:550px">
        <div class="card">
            <div class="card-body">
                <h4>گزارش حساب شما</h4>
                <div class="row">
                    <div class="col-md-9">
                        <table id="orders-table" class="table">
                        <thead>
                            <tr>
                                <th class="bg-teal-dark">شماره سفارش</th>
                                <th class="bg-teal-dark">زبان ترجمه</th>
                                <th class="bg-teal-dark">کیفیت ترجمه</th>
                                <th class="bg-teal-dark">هزینه ترجمه</th>
                                <th class="bg-teal-dark">سهم شما</th>
                                
                            </tr>
                        </thead>
                        <tbody id="user-orders">
                            {% for order in completed_orders %}
                                {% set page_number = order.word_numbers / 250 | round(0,'ceil')  %}
                                <tr>
                                    <td>{{ order.order_id }}</td>
                                    <td>{{ page_number }}</td>
                                    <td>
                                        {{
                    order.translation_lang == "1"
                      ? "انگلیسی به فارسی"
                      : "فارسی به انگلیسی"
                  }}
                                    </td>
                                    <td>
                                        {{ order.translation_quality == "5" ? "نقره ای" : "طلایی" }}
                                    </td>

                                    <td>{{ order.order_price }}
                                        تومان</td>
                                    <td>
                                        {% if order.transaction_code == '0' %}
                                            <p>پرداخت نشده</p>
                                        {% else %}
                                            <p>پرداخت شده</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.is_accepted == "0" ? "تایید نشده" : "تایید شده" }}</td>
                                    <td>
                                        {% if order.translator_id == '0' %}
                                            <p>مشخص نشده</p>
                                        {% else %}
                                            <a style="cursor:pointer;color:#20a8d8" onclick="showTranslatorInfo('{{ order.translator_id }}')">مشاهده اطلاعات مترجم</a>
                                        {% endif %}

                                    </td>
                                    <td class="order-more-info">
                                        <a href="/user/order/view/{{ order.order_id }}">
                                            <svg width="13px" height="23px" viewbox="0 0 50 80" xml:space="preserve">
                                                <polyline fill="none" stroke="#a9a9a9" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "/></svg >
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}