{% extends 'admin/layout/translator.twig' %}

{% block style_below %}
    <style>
        .global-notifications tbody td,.private-notifications tbody td{
            text-align:center;
            text-align: center;
            height: 80px;
            border: 1px solid #ebebeb;
            line-height: 3.6;
            transition:all 0.3s ease-out;
        }
        .global-notifications tbody tr:hover .order-more-info,.private-notifications tbody tr:hover .order-more-info{
            background: #eadede;
        }
            
    </style>
{% endblock %}

{% block content %}
    <main class="main">
        <div class="card">
            <div class="card-body" style="min-height:550px">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mt-4 mb-4">اطلاعیه های عمومی</h4>
                    <table class="table global-notifications is--responsive">
                    {% if global_notifications %}
                        <thead>
                            <th class="text-center bg-teal-dark" scope="col">#</th>
                            <th class="text-center bg-teal-dark" scope="col">عنوان اطلاعیه</th>
                            <th class="text-center bg-teal-dark" scope="col">تاریخ ارسال</th>
                            <th class="text-center bg-teal-dark" scope="col">درجه اهمیت</th>
                            <th class="text-center bg-teal-dark" scope="col">جزپیات بیشتر</th>
                        </thead>
                        <tbody >
                            {% for notification in global_notifications %}
                                {% if notification.importance == "1" %}
                                    {% set importance = "خیلی مهم" %}
                                {% endif %}
                                {% if notification.importance == "2" %}
                                    {% set importance = "مهم" %}
                                {% endif %}
                                {% if notification.importance == "3" %}
                                    {% set importance = "معمولی" %}
                                {% endif %}
                                
                                <tr>
                                    <td data-label="ردیف">{{ notification.notif_id }}</td>
                                    <td data-label="عنوان اطلاعیه">
                                        {{notification.title}}
                                    </td>
                                    <td data-label="تاریخ ارسال">
                                        {{notification.sent_date_persian}}
                                    </td>
                                    <td data-label="اهمیت">
                                        {{importance}}
                                    </td>
                                    <td class="order-more-info" data-label="جزپیات بیشتر">
                                        <a onclick="showNotificationInfo('{{notification.notif_id}}')">
                                            <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                            </svg>
                                        </a>
                                    </td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    {% else %}
                        <thead style="display:none">
                            <th class="text-center bg-teal-dark" scope="col">#</th>
                            <th class="text-center bg-teal-dark" scope="col">تعداد صفحات</th>
                            <th class="text-center bg-teal-dark" scope="col">زبان ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">رشته</th>
                            <th class="text-center bg-teal-dark" scope="col">کیفیت ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">هزینه ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">سهم شما</th>
                            <th class="text-center bg-teal-dark" scope="col">عملیات</th>
                        </thead>
                        <h5 class="text-center mt-4 no-data">تا کنون اطلاعیه ای ارسال نشده است</h5>
                        <tbody id="newOrdersWrap"></tbody>
                    {% endif %}
                </table>
                {% include 'admin/includes/pagination.twig' with {
                    'count' : global_notifications_count,
                    'page_prefix':'global_',
                    'current_page' : global_current_page,
                    'base_path' : '/translator/notifications',
                    'offset' : 10,
                    'visible_numbers' : 3
                } %}
                </div>
                
                <div class="col-md-6">
                
                    <h4 class="mt-4 mb-4">اطلاعیه های خصوصی (برای شما)</h4>
                
                    <table class="table global-notifications is--responsive" >
                    {% if private_notifications %}
                        <thead>
                            <th class="text-center bg-teal-dark" scope="col">#</th>
                            <th class="text-center bg-teal-dark" scope="col">عنوان اطلاعیه</th>
                            <th class="text-center bg-teal-dark" scope="col">تاریخ ارسال</th>
                            <th class="text-center bg-teal-dark" scope="col">درجه اهمیت</th>
                            <th class="text-center bg-teal-dark" scope="col">جزپیات بیشتر</th>
                        </thead>
                        <tbody id="newOrdersWrap">
                            {% for notification in private_notifications %}
                                {% if notification.importance == "1" %}
                                    {% set importance = "خیلی مهم" %}
                                {% endif %}
                                {% if notification.importance == "2" %}
                                    {% set importance = "مهم" %}
                                {% endif %}
                                {% if notification.importance == "3" %}
                                    {% set importance = "معمولی" %}
                                {% endif %}
                                
                                <tr>
                                    <td data-label="ردیف">{{ notification.notif_id }}</td>
                                    <td data-label="عنوان اطلاعیه">
                                        {{notification.title}}
                                    </td>
                                    <td data-label="تاریخ ارسال">
                                        {{notification.sent_date_persian}}
                                    </td>
                                    <td data-label="اهمیت">
                                        {{importance}}
                                    </td>
                                    <td class="order-more-info" data-label="جزپیات بیشتر">
                                        <a onclick="showNotificationInfo('{{notification.notif_id}}')">
                                            <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                            </svg>
                                        </a>
                                    </td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    {% else %}
                        <thead style="display:none">
                            <th class="text-center bg-teal-dark" scope="col">#</th>
                            <th class="text-center bg-teal-dark" scope="col">تعداد صفحات</th>
                            <th class="text-center bg-teal-dark" scope="col">زبان ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">رشته</th>
                            <th class="text-center bg-teal-dark" scope="col">کیفیت ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">هزینه ترجمه</th>
                            <th class="text-center bg-teal-dark" scope="col">سهم شما</th>
                            <th class="text-center bg-teal-dark" scope="col">عملیات</th>
                        </thead>
                        <h5 class="text-center mt-4 no-data">تا کنون اطلاعیه ای ارسال نشده است</h5>
                        <tbody id="newOrdersWrap"></tbody>
                    {% endif %}
                </table>
                {% include 'admin/includes/pagination.twig' with {
                    'count' : private_notifications_count,
                    'page_prefix':'private_',
                    'current_page' : private_current_page,
                    'base_path' : '/translator/notifications',
                    'offset' : 10,
                    'visible_numbers' : 3
                } %}
                </div>
            </div>
            </div>
        </div>
    </main>
      <!-- Modal -->
      <div class="modal fade" id="NotificationInfoModal" tabindex="-1" role="dialog" aria-labelledby="NotificationInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="NotificationInfoModalLabel">جزپیات اطلاعیه</h5>
                    {# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> #}
                </div>
                <div class="modal-body" id="NotificationInfoWrap" style="padding:2rem"></div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_below %}
    <script src="/public/js/panel/translator-notifications.js"></script>
{% endblock %}