{% extends "website/layout/auth.twig" %} 
{% block stylebelow %}
<link rel="stylesheet" href="/public/css/forgot-password.css">
{% endblock %} 
{% block content %}

<main class="forgot-password">
  <div class="card">
    <h3 class="text-center mb-3">فراموشی رمز عبور</h3>
    <form
      class="d-flex justify-center flex-d-column"
      action="{{action}}"
      method="POST"
    >
      <input type="hidden" name="csrf_name" value="{{csrf_name}}">
      <input type="hidden" name="csrf_value" value="{{csrf_value}}">
      <h4 class="gray-text">
        ایمیل خود را وارد کنید تا لینک تغییر پسورد به ایمیل تان ارسال شود
      </h4>

      <div class="input-wrap mt-2">
        <input class="effect-11 ltr" type="email" name="email" placeholder="Email Address" />
        <span class="focus-bg"></span>
      </div>
      <div class="action-btn-group mt-4 d-flex justify-center">
        <button class="button green" type="submit">
          <img class="icon" src="/public/images/icon/send.svg" alt="" />
          ارسال لینک به ایمیل
        </button>
        <button
          type="button"
          class="button blue"
          onclick="window.history.back()"
        >
          <img class="icon" src="/public/images/icon/reply.svg" alt="" />
          بازگشت
        </button>
      </div>
      <div class="logs">
        {% for log in flash('success') %}
          <p class="log is--success">{{log}}</p>
        {% endfor %}
        {% for error in flash('error') %}
          <p class="log is--error">{{error}}</p>
        {% endfor %}
      </div>
    </form>
  </div>
</main>

{% endblock %}
