{% extends "website/layout/base.twig" %}

{% block stylebelow %}
<link rel="stylesheet" href="/public/css/step-form.css">
<link rel="stylesheet" href="/public/css/filepond.min.css">
{% endblock %}

{% block content %}



<div class="steps-container">
    <h3 class="text-center">ุณุณุชู ุซุจุช ุณูุงุฑุด ุชุฑุฌูู</h3>
    <div class="wrapper">
        <ul class="steps">
            <li class="is-active">ฺฏุงู ุงูู</li>
            <li>ฺฏุงู ุฏูู</li>
            <li>ฺฏุงู ุณูู</li>
        </ul>
        <form class="form-wrapper order-form" method="POST" enctype="multipart/form-data" action="/order-completed">
            <input type="hidden" name="order_files" id="uploaded-files">
            <input type="hidden" name="csrf_name" value="{{csrf_name}}">
            <input type="hidden" name="csrf_value" value="{{csrf_value}}">
            <fieldset class="section is-active">
                <h3 class="text-center">ุงุทูุงุนุงุช ุชุฑุฌูู</h3>

                <div class="order-form row">
                    <div class="form-group col-lg-3 col-md-6">
                        <label for="type">ููุน ุชุฑุฌูู *</label>

                        <select name="translation_kind" id="type" class="form-control">
                            {% for key, value in translate_type %}
                            {% if key == type %}
                            <option value="{{ key }}" selected> {{ value }}</option>

                            {% else %}
                            <option value="{{ key }}"> {{ value }}</option>

                            {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                    {% if type=="specialist" %}
                    <div class="form-group field_of_study col-lg-3 col-md-6 show">
                        {% else %}
                        <div class="form-group field_of_study col-lg-3 col-md-6">
                            {% endif %}
                            <label for="field_of_study">ุฑุดุชู ุชุฎุตุต</label>
                                
                                <option value="0" selected>ุงูุชุฎุงุจ ฺฉูุฏ</option>
                                    {% for field_type in field_types %}
                                    {% if field_type.id == field_of_study %}
                                    <option value="{{ field_type.id }}" selected> {{ field_type.title }}</option>
    
                                    {% else %}
                                    <option value="{{ field_type.id }}"> {{ field_type.title }}</option>
                                    {% endif %}
                                    {% endfor %}                                
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="words">ุชุนุฏุงุฏ ฺฉููุงุช *</label>
                            <input class="form-control" type="number" min="0" name="word_numbers" id="words" value="{{words_numbers}}"
                                placeholder="ุชุนุฏุงุฏ ฺฉููุงุช">
                            <span class="hint words--hint">ูุฑ ุตูุญู ุงุณุชุงูุฏุงุฑุฏุ 250 ฺฉููู ุงุณุช</span>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="language">ุฒุจุงู ุชุฑุฌูู *</label>
                            <select name="translation_lang" id="language" class="form-control">
                                {% for key, value in lang_type %}
                                {% if key == translation_lang %}
                                <option value="{{ key }}" selected> {{ value }}</option>

                                {% else %}
                                <option value="{{ key }}"> {{ value }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-3 form-group col-md-6">
                            <label for="quality">ฺฉูุช ุชุฑุฌูู</label>
                            <select name="translation_quality" id="quality" class="form-control">
                                <option value="5">ููุฑู ุง</option>
                                <option value="10">ุทูุง</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="discount">ฺฉุฏ ุชุฎูู</label>
                            <input type="text" name="discount_code" id="discount_code" class="form-control" placeholder="ฺฉุฏ ุชุฎูู">
                            <span id="discountHint" class="hint">ุฌูุช ุฏุฑุงูุช ฺฉุฏ ุชุฎูู <a href="http://www.t.me/motarjem_one">ูพุงู</a> ุฏูุฏ</span>
                        </div>

                    </div>
                
                    <div class="step-actions">
                        
                        <div class="btn btn-primary prev-step">ูุฑุญูู ูุจู</div>
                        <div class="btn btn-success next-step">ูุฑุญูู ุจุนุฏ</div>
                    </div>
            </fieldset>
            <fieldset class="section">
                <h3 class="text-center">ุฒูุงู ุชุญูู *</h3>
                <div class="row cf delivery-selection-wrap">
                    {% for key, value in delivery_types %}
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        {% if key == delivery_type %}
                        <input type="radio" name="delivery_type" value="{{ key }}" checked id="{{key}}" />
                        {% else %}
                        <input type="radio" name="delivery_type" value="{{ key }}" id="{{key}}" />
                        {% endif %}
                        <label class="deliver-selection" for="{{key}}">
                            <img src="public/images/icon/{{value.icon}}" alt="">
                            <h4>{{value.name}}</h4>
                        </label>
                    </div>
                    {% endfor %}

                </div>
                <p id="delivery-hint" style="text-align: center;margin-top: 1rem;"></p>
                <div class="row pt-4">
                    <div class="col-12 pb-4">
                        <p>๐ฐููุชโฺฏุฐุงุฑ ูุฒูู ุชุฑุฌูู ุจุฑ ุญุณุจ ุชุนุฏุงุฏ ฺฉููุงุช ูุฑ ุตูุญู ูุญุงุธ ูโุดูุฏ ูู ุตูุญูโุง ุง ุฎุท.</p>
                        <p>๐ฐุฏุฑ ุชุฑุฌูู ููู ููุฑุ 10 ุชููุงู ุจู ูุฑุฎ ุชุฑุฌููโูุง ุงุถุงูู ูโุดูุฏ.
                            </p>
                            <p>๐ฐุฏุฑ ุชุฑุฌูู ููุฑุ ูุฑุฎ ุชุฑุฌููโูุง ุฏู ุจุฑุงุจุฑ ุญุณุงุจ ูโุดูุฏ.</p>
                    </div>
                    <div class="col-lg-12">
                        <h3 class="text-center">ุขูพููุฏ ูุงู (ูุง)</h3>
                    </div>
                    <div class="col-lg-4 col-sm-12 hints-for-upload">
                        <h4 class="py-2 text-center">ูฺฉุงุช ุขูพููุฏ ูุงู</h4>
                        <p class="text-right">
                            ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ
                            ุงุณุช. ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช ู ุจุฑุง ุดุฑุงุท ูุนู
                            ุชฺฉููููฺ ููุฑุฏ ูุงุฒ ู ฺฉุงุฑุจุฑุฏูุง ูุชููุน ุจุง ูุฏู ุจูุจูุฏ ุงุจุฒุงุฑูุง ฺฉุงุฑุจุฑุฏ ู ุจุงุดุฏ.
                        </p>
                    </div>
                    <div class="col-lg-8 col-sm-12 align-self-center">
                        <input type="file" class="filepond" name="file" multiple id="file" data-max-file-size="50MB"
                            data-max-files="3" />
                    </div>
                </div>
                <div class="step-actions">
                    <div class="btn btn-primary prev-step">ูุฑุญูู ูุจู</div>
                    <div class="btn btn-success next-step">ูุฑุญูู ุจุนุฏ</div>
                </div>
            </fieldset>
            <fieldset class="section">
                <div class="order-form row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="fullname">ูุงู ู ูุงู ุฎุงููุงุฏฺฏ</label>
                        <input class="form-control" type="text" name="fullname" id="fullname" value="{{user.fname ~ " " ~ user.lname }}">
                    </div>
                    <div class="col-lg-4 form-group col-md-6">
                        <label for="phone_number">ุดูุงุฑู ููุฑุงู</label>
                        <input class="form-control" type="text" name="phone_number" id="phone_number" value="{{user.phone}}">
                        <span class="hint phone--hint"></span>
                    </div>
                    <div class="col-lg-4 form-group col-md-6">
                        <label for="email">ุงูู</label>
                        <input class="form-control" type="email" name="email" id="email" value="{{user.email}}">
                        <span class="hint email--hint"></span>
                    </div>
                    <div class="col-lg-12 form-group">
                        <label for="description">ุชูุถุญุงุช</label>
                        <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                    </div>
                    <div class="col-lg-12 form-group">
                        <input class="btn btn-primary" type="submit" value="ุซุจุช ุณูุงุฑุด">
                    </div>
                </div>

                <div class="step-actions">
                    <div class="btn btn-secondary prev-step">ูุฑุญูู ูุจู</div>
                </div>
            </fieldset>


        </form>

    </div>
</div>


{% endblock %}


{% block scriptbelow %}
<script src='public/js/filepond-plugin-file-encode.min.js'></script>
<script src='public/js/filepond-plugin-file-validate-size.min.js'></script>
<script src='public/js/filepond.min.js'></script>
<script src="/public/js/axios.min.js"></script>
<script src="public/js/order.js"></script>
{% endblock %}