{% extends "website/layout/auth.twig" %}
{% block stylebelow %}
<link rel="stylesheet" href="/public/css/reset-password.css">
{% endblock %}
{% block content %}

    <main class="forgot-password">
        <div class="card">
            {% if token_is_valid %}
                <h3 class="text-center mb-3">تغییر گذرواژه</h3>
                <form class="d-flex justify-center flex-d-column" action="/user/password-reset" method="POST">
                    <input type="hidden" name="csrf_name" value="{{ csrf_name }}"/>
                    <input type="hidden" name="csrf_value" value="{{ csrf_value }}"/>
                    <input type="hidden" name="username" value="{{username}}"/>
                    <h4 class="gray-text text-center">
                        حالا می توانید پسورد تان را تغییر دهید
                    </h4>

                    <div class="input-wrap mt-2">
                        <input class="effect-11 " type="password" name="password" placeholder="پسورد جدید"/>
                        <span class="focus-bg"></span>
                    </div>
                    <div class="input-wrap mt-2">
                        <input class="effect-11 " type="password" name="confirmPassword" placeholder="تکرار پسورد جدید"/>
                        <span class="focus-bg"></span>
                    </div>
                    <div class="action-btn-group mt-4 d-flex justify-center">
                        <button class="button green" type="submit">
                            <img class="icon" src="/public/images/icon/send.svg" alt=""/>
                            ثبت اطلاعات
                        </button>
                    </div>
                    <div class="logs">
                        {% if validationSuccess %}
                            <p class="log is--success">{{ validationSuccess | raw }}</p>
                        {% endif %}
                        {% for error in validationErrors %}
                            <p class="log is--error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </form>
            {% else %}
                <div class="logs">
                    {% for error in validationErrors %}
                        <p class="log is--error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}
{% block scriptbelow %}
    <script>
        addListener("input", "input", function (e) {
            e.target.classList.add("ltr");
        }, true);
        //addListener("input","blur",function(e){

        //  e.target.classList.remove("ltr");
        //},true);
    </script>
{% endblock %}