{% extends "website/layout/base.twig" %}

{% block content %}

<div class="calculate-expense rtl">

  <div class="row">
    <div class="col-lg-4 calculate-expense__description">
      <h4 class="calculate-expense__description__title">ุชูุงูุช ุชุฑุฌูู ููุฑู ุง ู ุทูุง ุฏุฑฺุณุชุ</h4>
      <p class="calculate-expense__description__text">
        ๐ ุชุฑุฌูู ููุฑูโุง/ุฎูุจ: ุชุฑุฌูู ุชูุณุท ูุชุฑุฌู ุฏุงุฑุง ุญุฏุงูู ูพูุฌ ุณุงู ุณุงุจูู ุชุฑุฌูู ูุชูโูุง ูุฎุชูู ู ูุณูุท ุจู ฺฉ ุญูุฒู ุชุฎุตุตุ ููุช ููุตูุงููุ ฺฉูุช ุฎูุจ.
      </p>
      <div class="calculate-expense__description__text">
        ๐ุชุฑุฌูู ุทูุง/ุนุงู: ุชุฑุฌูู ุชูุณุท ูุชุฑุฌู ุชุญุตู ฺฉุฑุฏู ุฏุฑ ุฑุดุชู ูุฑุชุจุท ุจุง ููุถูุน ููุงูู ู ุฏุงุฑุง ุญุฏุงูู ูพูุฌ ุณุงู ุณุงุจูู ุชุฑุฌููุ ููุช ููุตูุงููุ ฺฉูุช ุนุงู.
      </div>
    </div>
    <div class="col-lg-8">
      <form method="GET" action="/order" class="calculate-expense__form">
        <div class="calculate-expense__form__title">
          <h4>ูุญุงุณุจู ูุฒูู ุชุฑุฌูู</h4>
        </div>
        <div class="calculate-expense__form__content row">
          <div class="form-group col-lg-4">
            <label for="type">ููุน ุชุฑุฌูู</label>
          
            <select name="type" id="type" class="form-control">
              {% for key, value in translate_type %}
                {% if key == type %}
                  <option value="{{ key }}" selected> {{ value }}</option>

                {% else %}
                  <option value="{{ key }}"> {{ value }}</option>

                {% endif %}

              {% endfor %}
            </select>
          </div>
          {% if type=="specialist" %}
            <div class="form-group field_of_study col-lg-4 show">
          {% else %}
            <div class="form-group field_of_study col-lg-4">
          {% endif %}
            <label for="field_of_study">ุฑุดุชู ุชุฎุตุต</label>
            <select name="field_of_study" id="field_of_study" class="form-control">
              <option value="90">ุงุฏุจุงุช ู ุฒุจุงู ุดูุงุณ</option>
              <option value="89">ุงุณูุงุฏ ุชุฌุงุฑ</option>
              <option value="88">ุงูุชุตุงุฏ</option>
              <option value="86">ุจุฑู ู ุงูฺฉุชุฑููฺฉ</option>
              <option value="91">ุชุงุฑุฎ</option>
              <option value="41">ุชุฑุฌูู ฺฉุงุชุงููฺฏ</option>
              <option value="76">ุฌุบุฑุงูุง</option>
              <option value="75">ุญุณุงุจุฏุงุฑ</option>
              <option value="74">ุญููู</option>
              <option value="70">ุฑูุงู ุดูุงุณ</option>
              <option value="71">ุฑุงุถ</option>
              <option value="72">ุฒูู ุดูุงุณ ู ูุนุฏู</option>
              <option value="43">ุฒุฑููุณ ููู</option>
              <option value="73">ุฒุณุช ุดูุงุณ</option>
              <option value="67">ุดู</option>
              <option value="68">ุตูุงุน</option>
              <option value="69">ุตูุงุน ุบุฐุง</option>
              <option value="62">ุนููู ุงุฌุชูุงุน</option>
              <option value="63">ุนููู ุณุงุณ</option>
              <option value="64">ุนูุฑุงู</option>
              <option value="61">ุนููู</option>
              <option value="44">ูุงู ุตูุช ุชุตูุฑ</option>
              <option value="57">ููู ู ุนููู ุงุณูุงู</option>
              <option value="58">ููุณูู</option>
              <option value="59">ููุงูุฑ ุงุทูุงุนุงุช</option>
              <option value="60">ูุฒฺฉ</option>
              <option value="50">ูุชุงููุฑฺ ู ููุงุฏ</option>
              <option value="51">ูุญุท ุฒุณุช</option>
              <option value="49">ูุฏุฑุช</option>
              <option value="54">ููุงุจุน ุทุจุน ู ุดูุงุช</option>
              <option value="53">ูฺฉุงูฺฉ</option>
              <option value="47">ููุชุฺฏุงุฒ ู ูพุชุฑูุดู</option>
              <option value="92">ููุฑ ู ูุนูุงุฑ</option>
              <option value="46">ูุฑุฒุด ู ุชุฑุจุช ุจุฏู</option>
              <option value="85">ูพุฒุดฺฉ</option>
              <option value="93">ฺูุชฺฉ ู ูฺฉุฑูุจูููฺ</option>
              <option value="55">ฺฉุงููพูุชุฑ</option>
              <option value="56">ฺฉุดุงูุฑุฒ</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="words">ุชุนุฏุงุฏ ฺฉููุงุช</label>
            <input class="form-control" type="number" name="words" id="words" value="{{words}}" placeholder="ุชุนุฏุงุฏ ฺฉููุงุช">
            <span class="hint words--hint">ูุฑ ุตูุญู ุงุณุชุงูุฏุงุฑุฏุ 250 ฺฉููู ุงุณุช</span>
          </div>
          <div class="form-group col-lg-4">
            <label for="language">ุฒุจุงู ุชุฑุฌูู</label>
            <select name="language" id="language" class="form-control">
              {% for key, value in lang_type %}
                {% if key == language %}
                  <option value="{{ key }}" selected> {{ value }}</option>

                {% else %}
                  <option value="{{ key }}"> {{ value }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="delivery_type">ุฒูุงู ุชุญูู</label>
            <select name="delivery_type" id="delivery_type" class="form-control">
              {% for key, value in delivery_types %}
              {% if key == delivery_type %}
                <option value="{{ key }}" selected> {{ value }}</option>

              {% else %}
                <option value="{{ key }}"> {{ value }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
          <div class="form-group-col-lg-4">
            <label for="discount">ฺฉุฏ ุชุฎูู</label>
            <input type="text" name="discount" id="discount" class="form-control" placeholder="ฺฉุฏ ุชุฎูู">
            <span class="hint">ุฌูุช ุฏุฑุงูุช ฺฉุฏ ุชุฎูู <a href="http://www.t.me/motarjem_one">ูพุงู</a> ุฏูุฏ</span>
          </div>
          <div class="form-group col-lg-4 d-flex align-items-center">
            <button name="calc" id="calc" class="btn btn-primary">
              ูุญุงุณุจู ูุฒูู
            </button>
            {% if show_result %}
              <button name="order" type="submit" name="submit" id="order" class="btn btn-success">
            {% else %}
              <button name="order" type="submit" name="submit" id="order" class="btn btn-success d-none">
            {% endif %}
              ุณูุงุฑุด ุจุฏู
            </button>
          </div>

        </div>
          {% if show_result %}
            <div class="calculate-result show">
          {% else %}
            <div class="calculate-result">
          {% endif %}
          <div class="calculate-result__info">
            {{pageNumber}}
          </div>
          <div class="calculate-result__silver">
            <div class="calculate-result__icon">
              <img src="public/images/icon/silver.svg" alt="" class="">
            </div>
            <span class="calculate-result__title">ุชุฑุฌูู ููุฑู ุง</span>
            <span class="result">
              {{goldPrice}}
            </span>
          </div>
          <div class="calculate-result__gold">
            <div class="calculate-result__icon">
              <img src="public/images/icon/gold.svg" alt="" class="">
            </div>
            <span class="calculate-result__title">ุชุฑุฌูู ุทูุง</span>
            <span class="result">
              {{silverPrice}}
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scriptbelow %}
<script src="public/js/expense-calculation.js"></script>
{% endblock %}