{% extends 'admin/layout/admin.twig' %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="info-cards ">
                <div class="row">
                    <div class="col-md-4">
                        <a class="info-card" href="/admin/new-orders">
                            <div class="info-card__icon bg-primary">
                                <img alt="" src="/public/images/icon/order.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">
                                    سفارشات جدید
                                </div>
                                <div class="info-card__content__value">
                                    {{ new_orders_count ? new_orders_count : 0}}
                                    <span class="f-1rem ml-2">سفارش</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="info-card" href="/translator/account-report">
                            <div class="info-card__icon bg-dark-yellow">
                                <img alt="" src="/public/images/icon/stopwatch.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">سفارشات درحال انجام</div>
                                <div class="info-card__content__value">
                                    {{ pending_orders_count ? pending_orders_count : 0 }}
                                    <span class="f-1rem">سفارش</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="info-card" href="/translator/messages?unread=true">
                            <div class="info-card__icon bg-success">
                                <img alt="" src="/public/images/icon/check-form.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">سفارشات انجام شده تاکنون</div>
                                <div class="info-card__content__value">
                                    {{ completed_orders_count ? completed_orders_count : 0 }}
                                    <span class="f-1rem ml-1">سفارش</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <a class="info-card" href="/translator/messages?unread=true">
                            <div class="info-card__icon bg-dark-purple">
                                <img alt="" src="/public/images/icon/income.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">درآمد شما در این ماه</div>
                                <div class="info-card__content__value">
                                    {{ month_revenue ? month_revenue : 0 }}
                                    <span class="f-1rem ml-1">تومان</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info-card" href="/translator/messages?unread=true">
                            <div class="info-card__icon bg-dark-teal">
                                <img alt="" src="/public/images/icon/money.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">درآمد شما تاکنون</div>
                                <div class="info-card__content__value">
                                    {{ total_revenue ? total_revenue : 0 }}
                                    <span class="f-1rem ml-1">تومان</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info-card" href="/translator/messages?unread=true">
                            <div class="info-card__icon bg-danger">
                                <img alt="" src="/public/images/icon/message.svg"/>
                            </div>
                            <div class="info-card__content">
                                <div class="info-card__content__title">پیام های خوانده نشده</div>
                                <div class="info-card__content__value">
                                    {{ unread_messages_count ? unread_messages_count : 0 }}
                                    <span class="f-1rem ml-1">پیام</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class=" card">
                        <div class="card-header f-1rem">
                            <i class="icon-user"></i>
                            مشخصات شما
                        </div>
                        <div class="card-body profile-info">
                            <div class="item">
                                <span>نام شما :
                                </span>
                                <strong>
                                    {{ user.fname }}</strong>
                            </div>
                            <div class="item">
                                <span>نام خانوادگی شما :
                                </span>
                                <strong>
                                    {{ user.lname }}</strong>
                            </div>
                            <div class="item">
                                <span>ایمیل شما :
                                </span>
                                <strong>
                                    {{ user.email }}</strong>
                            </div>
                            <div class="item">
                                <span>شماره همراه شما :
                                </span>
                                <strong>
                                    {{ user.phone }}</strong>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-success btn-block profile-edit-btn" href="/admin/edit-profile">
                                <i class="icon-note"></i>
                                بروزرسانی
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ticket-card">
                        <div class="card-header f-1rem ">
                            <div class="card-header__title">
                                <i class="icon-earphones-alt"></i>
                                <span>تیکت های اخیر مشتریان</span>
                            </div>
                            <a href="/admin/tickets/customer" class="btn new-ticket-btn">
                                    <i class="icon-plus"></i>
                                تمام تیکت ها
                            </a>
                        </div>
                        <div class="card-body">
                             <table class="table is--responsive">
                                {% if last_customer_tickets %}
                                    <thead>
                                        <th class="text-center" scope="col">شماره تیکت</th>
                                        <th class="text-center" scope="col">عنوان تیکت</th>
                                        <th class="text-center" scope="col">نام ارسال کننده</th>
                                        <th class="text-center" scope="col">تاریخ ارسال</th>
                                        <th class="text-center" scope="col">جزییات تیکت</th>
                                    </thead>
                                    <tbody>
                                        {% for ticket in last_customer_tickets %}
                                            <tr>
                                                <td data-label="شماره تیکت">
                                                    {{ticket.ticket_number}}
                                                </td>
                                                    
                                                <td data-label="عنوان تیکت">
                                                    {{ticket.subject}}
                                                </td>
                                                <td data-label="نام ارسال کننده">
                                                    {{ticket.creator_fname ~ " " ~ ticket.creator_lname}}
                                                </td>
                                                <td data-label="تاریخ ارسال">
                                                    {{ticket.create_date_persian}}
                                                </td>
                                                <td class="order-more-info" data-label="جزییات">
                                                    <a onclick="showTicketInfo('{{ticket.ticket_number}}')" aria-role="button">
                                                        <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                            <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                                        </svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                    <h6 class="text-center mt-4 no-data">تاکنون تیکتی دریافت نشده است !</h6>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ticket-card">
                        <div class="card-header f-1rem ">
                            <div class="card-header__title">
                                <i class="icon-earphones-alt"></i>
                                <span>تیکت های اخیر مترجمان</span>
                            </div>
                            <a href="/admin/tickets/translator" class="btn new-ticket-btn">
                                    <i class="icon-plus"></i>
                                تمام تیکت ها
                            </a>
                        </div>
                        <div class="card-body">
                             <table class="table is--responsive">
                                {% if last_translator_tickets %}
                                    <thead>
                                        <th class="text-center" scope="col">شماره تیکت</th>
                                        <th class="text-center" scope="col">عنوان تیکت</th>
                                        <th class="text-center" scope="col">نام ارسال کننده</th>
                                        <th class="text-center" scope="col">تاریخ ارسال</th>
                                        <th class="text-center" scope="col">جزییات تیکت</th>
                                    </thead>
                                    <tbody>
                                           {% for ticket in last_translator_tickets %}
                                            <tr>
                                                <td data-label="شماره تیکت">
                                                    {{ticket.ticket_number}}
                                                </td>
                                                    
                                                <td data-label="عنوان تیکت">
                                                    {{ticket.subject}}
                                                </td>
                                                <td data-label="نام ارسال کننده">
                                                    {{ticket.creator_fname ~ " " ~ ticket.creator_lname}}
                                                </td>
                                                <td data-label="تاریخ ارسال">
                                                    {{ticket.create_date_persian}}
                                                </td>
                                                <td class="order-more-info" data-label="جزییات">
                                                    <a onclick="showTicketInfo('{{ticket.ticket_number}}')" aria-role="button">
                                                        <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                            <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                                        </svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                    <h6 class="text-center mt-4 no-data">تاکنون تیکتی دریافت نشده است !</h6>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="card mt-3">
                <div class="card-body row">
                    <div class="col-12">
                        <h5>درخواست استخدام مترجم های جدید</h5>
                        <table class="table is--responsive new-translators-request">
                            {# {% if translator_employment_requests %} #}
                                <thead>
                                    <th class="text-center" scope="col">تصویر مترجم</th>
                                    <th class="text-center" scope="col">نام کاربری</th>
                                    <th class="text-center" scope="col">نام مترجم</th>
                                    <th class="text-center" scope="col">تاربخ ثبت نام</th>
                                    <th class="text-center" scope="col">تحصیلات</th>
                                    <th class="text-center" scope="col">سابقه کار</th>
                                    <th class="text-center" scope="col">عملیات</th>
                                </thead>
                                <tbody>
                                    <tr>
                                         <td data-label="تصویر مترجم">
                                            <img class="translatorAvatar" src="/public/uploads/avatars/translator/5681a5806483c4c2.jpeg" alt="">
                                        </td>
                                        <td data-label="نام کاربری">
                                            coderguy
                                        </td>
                                        <td data-label="نام مترجم">
                                            مهدی گندمی
                                        </td>
                                        <td data-label="تاریخ ثبت نام">
                                            1397/10/02
                                        </td>
                                        <td data-label="تحصیلات">
                                            کارشناسی نرم افزار
                                        </td>
                                        <td data-label="سابقه کار">
                                            3سال
                                        </td>
                                        <td data-label="عملیات" class="order-actions">
                                                <button onclick="showُTranslatorInfo('{{request.translator_id}}')" class="expand-button order-action is--primary is--medium">
                                                    <span data-hover="اطلاعات بیشتر">
                                                        <i class="icon-info"></i>
                                                    </span>
                                                </button>
                                                <button onclick="employTranslator('{{request.translator_id}}')" class="expand-button order-action is--success is--medium">
                                                    <span data-hover="استخدام مترجم">
                                                        <i class="icon-check"></i>
                                                    </span>
                                                </button>
                                                <button onclick="denyTranslator('{{request.translator_id}}')" class="expand-button order-action is--danger">
                                                    <span data-hover="رد مترجم">
                                                        <i class="icon-close"></i>
                                                    </span>
                                                </button>

                                        </td>
                                    </tr>
                                    {# {% for request in translator_employment_requests %}
                                            <tr>
                                                <td data-label="شماره سفارش">
                                                    {{request.order_number}}
                                                </td>
                                                <td data-label="تاریخ ثبت سفارش">
                                                    {{request.order_date_persian}}
                                                </td>
                                                <td data-label="هزینه سفارش">
                                                    {{request.order_price}}
                                                </td>
                                                <td data-label="تاریخ درخواست">
                                                    {{request.request_date_persian}}
                                                </td>
                                                <td data-label="نام مترجم">
                                                    <a href="#" onclick="showTranslatorInfo('{{request.translator_id}}')">{{request.translator_fname ~ " " ~ request.translator_lname}}</a>
                                                </td>
                                                <td class="order-more-info" data-label="جزییات سفارش">
                                                    <a onclick="showOrderInfo('{{request.order_id}}')" aria-role="button">
                                                        <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                            <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                                        </svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %} #}
                                    </tbody>
                                    {# {% else %}
                                        <h6 class="text-center mt-4 no-data">تاکنون درخواستی ثبت نشده است !</h6>
                                    {% endif %} #}
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body row">
                    <div class="col-12">
                        <h5>درخواست های انجام سفارش مترجمان</h5>
                        <table class="table is--responsive">
                            {% if translator_order_requests %}
                                <thead>
                                    <th class="text-center" scope="col">شماره سفارش</th>
                                    <th class="text-center" scope="col">تاریخ ثبت سفارش</th>
                                    <th class="text-center" scope="col">هزینه سفارش</th>
                                    <th class="text-center" scope="col">تاریخ درخواست</th>
                                    <th class="text-center" scope="col">نام مترجم</th>
                                    <th class="text-center" scope="col">جزییات سفارش</th>
                                </thead>
                                <tbody>
                                    {% for request in translator_order_requests %}
                                            <tr>
                                                <td data-label="شماره سفارش">
                                                    {{request.order_number}}
                                                </td>
                                                <td data-label="تاریخ ثبت سفارش">
                                                    {{request.order_date_persian}}
                                                </td>
                                                <td data-label="هزینه سفارش">
                                                    {{request.order_price}}
                                                </td>
                                                <td data-label="تاریخ درخواست">
                                                    {{request.request_date_persian}}
                                                </td>
                                                <td data-label="نام مترجم">
                                                    <a href="#" onclick="showTranslatorInfo('{{request.translator_id}}')">{{request.translator_fname ~ " " ~ request.translator_lname}}</a>
                                                </td>
                                                <td class="order-more-info" data-label="جزییات سفارش">
                                                    <a onclick="showOrderInfo('{{request.order_id}}')" aria-role="button">
                                                        <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                                            <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                                        </svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                        <h6 class="text-center mt-4 no-data">تاکنون درخواستی ثبت نشده است !</h6>
                                    {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <!--Translator Info Modal -->
<div aria-hidden="true" aria-labelledby="translatorInfoLabel" class="modal fade" id="translatorInfo" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header justify-content-between align-items-center">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="translatorInfoLabel">اطلاعات سفارش</h5>
            <div></div>
         </div>
         <div class="modal-body" id="translatorInfoWrap" style="padding:2rem">
            <div class="row ">
               <div class="col-lg-4 translator-avatar">
                  <img src="/public/uploads/avatars/translator/default-avatar.svg" alt="">
               </div>
               <div class="col-lg-3">
                  <p class="translator-info">
                     <strong class="translator-info__title">نام : </strong>
                     <span class="translator-info__value">مهدی</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">نام خانوادگی : </strong>
                     <span class="translator-info__value">گندمی</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">جنسیت : </strong>
                     <span class="translator-info__value">مرد</span>
                  </p>
               </div>
               <div class="col-lg-5">
                <strong>آدرس</strong>
                  <div class="translator-address mt-2">
                     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
                  </div>
               </div>
            </div>
            <hr>
            <div class="row mt-5">
               <div class="col-lg-4 translator-melicard">
                  <img src="/public/uploads/translator/melicard/card.jpg" alt="">
               </div>
               <div class="col-lg-4">
                  <p class="translator-info">
                     <strong class="translator-info__title">کد ملی : </strong>
                     <span class="translator-info__value">0640617743</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">مدرک تحصیلی : </strong>
                     <span class="translator-info__value">کارشناسی نرم افزار</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">سابقه کار : </strong>
                     <span class="translator-info__value">3 سال</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">تاریخ ثبت نام : </strong>
                     <span class="translator-info__value">1397/01/12 9:50</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">ترجمه انگلیسی به فارسی : </strong>
                     <span class="translator-info__value">خیر</span>
                  </p>
               </div>
               <div class="col-lg-4">
                  <p class="translator-info">
                     <strong class="translator-info__title">شماره تلفن ثابت : </strong>
                     <span class="translator-info__value">05632313094</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">شماره همراه : </strong>
                     <span class="translator-info__value">09389318493</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">ایمیل : </strong>
                     <span class="translator-info__value">coderguy1999@gmail.com</span>
                  </p>
                  <p class="translator-info">
                     <strong class="translator-info__title">ترجمه فارسی به انگلیسی : </strong>
                     <span class="translator-info__value">بله</span>
                  </p>
                  
               </div>
            </div>
            <hr style="border-width:2px">
            <div class="row mt-5">
               <div class="col-12 mb-4">
                  <h5 class="text-center">آزمون تربیت بدنی</h5>
                  <h6 class="text-center">(فارسی به انگلیسی)</h6>
               </div>
               <div class="col-lg-6">
                  <div class="test question">
                     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="test answer">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam a ipsam incidunt quibusdam enim esse iusto architecto sequi ad labore in pariatur libero, quisquam fuga voluptates eligendi eius quod cum.
                  </div>
               </div>
               <div class="col-12">
                  <div class="more-info__actions d-flex justify-content-center">
                     <button class="btn btn-success">استخدام مترجم</button>
                     <button class="btn btn-danger">رد مترجم</button>
                     <button class="btn btn-secondary" data-dismiss="modal" type="button">بستن</button>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</div>
    {# show translator avatar in zoom mode #}
    <div id="avatarModal" class="lightbox">
        <!-- The Close Button -->
        <span id="closeModal" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="lightbox-content" id="avatarPhoto">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}

{% block script_below %}
    <script>
        function showُTranslatorInfo(translatorId){
            console.log(translatorId);
            $("#translatorInfo").modal({backdrop: 'static', keyboard: false});
        }

        //handle lightbox
        //show the translator avatar in large mode
        // Get the modal
        function handleImgClick(e){
            modal.style.display = "block";
            let image=e.currentTarget.src;
            modalImg.src=image;
            captionText.innerHTML = e.currentTarget.getAttribute("aria-label");
        }
        let modal = document.getElementById('avatarModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var images= document.querySelectorAll('.translatorAvatar');
        var modalImg = document.getElementById("avatarPhoto");
        var captionText = document.getElementById("caption");
        images.forEach(function(img){
            img.addEventListener("click",handleImgClick);
        })
        // Get the <span> element that closes the modal
        var span = document.getElementById("closeModal");
        // When the user clicks on <span> (x), close the modal
        span.addEventListener("click",function(e){
            modal.style.display = "none";
        })


    </script>
{% endblock %}