{% extends "admin/layout/admin.twig" %}
{% block style_below %}
    <link href="/public/css/medium-editor.min.css" rel="stylesheet"/>
    <link href="/public/css/medium-theme.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/filepond.min.css">
    <link rel="stylesheet" href="/public/css/select2.min.css">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="card">
            <div class="card-body" style="min-height: 550px">
                <h4 class="mt-3 mb-5">ویرایش اطلاعیه</h4>
                <form class="row" id="newNotificationForm" action="/admin/notifications/new" method="post">
                    <input type="hidden" name="attach_files" id="attachments">
                    <div class="form-group col-lg-3">
                        <label for="title">عنوان اطلاعیه</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ notification.title }}">
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="type">نوع اطلاعیه</label>
                        <select class="form-control" name="notif_type" id="type">
                            <option value="0" {{ notification.notif_type == 0 ? "selected":"" }}>عمومی</option>
                            <option value="1" {{ notification.notif_type == 1 ? "selected":"" }}>خصوصی</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4 {{ notif_type == "0" ? 'd-none':'' }}">
                        <label for="recipients">انتخاب مترجم</label>
                        <select class="form-control" name="recipients[]" id="recipients" multiple>
                            {% for translator in translators %}
                                {% if translator.translator_id in notification.recipients %}
                                    <option value="{{ translator.translator_id }}" selected>{{ translator.fname ~ " " ~ translator.lname }}</option>
                                {% else %}
                                    <option value="{{ translator.translator_id }}">{{ translator.fname ~ " " ~ translator.lname }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-lg-2">
                        <label for="importance">میزان اهمیت</label>
                        <select class="form-control" name="importance" id="importance">
                            <option value="1" {{ notification.importance == "1" ? "selected":"" }}> خیلی مهم</option>
                            <option value="2" {{ notification.importance == "2" ? "selected":"" }}>مهم</option>
                            <option value="3" {{ notification.importance == "3" ? "selected":"" }}>معمولی</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-7">
                        <label for="medium-editor">متن اطلاعیه</label>
                        <textarea  name="body" id="medium-editor" cols="30" rows="10" style="height: 100%;">
                            {{ notification.body }}
                        </textarea>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="files">فایل (های) پیوست</label>
                            <input type="file" class="filepond" name="file" multiple="multiple" id="files" data-max-file-size="50MB" data-max-files="3">
                        </div>
                        <input type="submit" value="ارسال"  class="btn btn-primary mt-4">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="d-none" id="hidden-attach-files">
        {{ notification.attach_files }}
    </div>
{% endblock %}
{% block script_below %}
    <script src="/public/js/panel/medium-editor.min.js"></script>
    <script src="/public/js/sweetalert2@8.js"></script>
    <script src='/public/js/filepond-plugin-file-encode.min.js'></script>
    <script src='/public/js/filepond-plugin-file-validate-size.min.js'></script>
    <script src='/public/js/filepond.min.js'></script>
    <script src="/public/js/select2.min.js"></script>
    <script src="/public/js/panel/admin-edit-notification.js"></script>
{% endblock %}