{% extends 'admin/layout/admin.twig' %}
{% block content %}

<main class="main">

<div class="card">
    <div class="card-body">
        <h4 class="mt-3 mb-4 ">اطلاعات مترجم</h4>
        <div class="row translator-info is--centered">
            <div class="col-lg-3 translator-info__item">
                <div class="translator-avatar">
                    <img class="lightbox-enabled" src="/public/uploads/avatars/translator/{{info.avatar}}" alt="{{info.fname ~ ' ' ~ info.lname}}">
                </div>
            </div>
            <div class="col-lg-3 translator-info__item is--centered">
                <div class="info-wrap">
                    <strong>نام :</strong>
                    <span>{{info.fname}}</span>
                </div>
                <div class="info-wrap">
                    <strong>نام خانوادگی :</strong>
                    <span>{{info.lname}}</span>
                </div>
                <div class="info-wrap">
                    <strong>جنسیت :</strong>
                    <span>{{info.sex == "1" ? "مرد":"زن"}}</span>
                </div>
            </div>
            <div class="col-lg-3 translator-info__item is--centered">
                <div class="info-wrap">
                    <strong>تحصیلات :</strong>
                    <span>{{info.degree}}</span>
                </div>
                <div class="info-wrap">
                    <strong>سابقه کار :</strong>
                    <span>{{info.exp_years}} سال</span>
                </div>
                <div class="info-wrap">
                    <strong>تاریخ ثبت نام :</strong>
                    <span>{{info.register_date_persian}}</span>
                </div>
            </div>
            <div class="col-lg-3 translator-info__item">
                <div class="info-wrap">
                    <strong>شماره تلفن ثابت :</strong>
                    <span>{{info.phone}}</span>
                </div>
                <div class="info-wrap">
                    <strong>شماره همراه :</strong>
                    <span>{{info.cell_phone}}</span>
                </div>
                <div class="info-wrap">
                    <strong>ایمیل :</strong>
                    <span>{{info.email}}</span>
                </div>
            </div>
        </div>
        <div class="row translator-info">
            <div class="col-lg-3 translator-info__item ">
                <div class="translator-melicard">
                    <img class="lightbox-enabled" src="/public/uploads/translator/melicard/{{info.melicard_photo}}" alt="{{info.meli_code}}"/>
                </div>
                <div class="info-wrap text-center mt-3">
                    <strong>کدملی : </strong>
                    <span>{{info.meli_code}}</span>
                </div>
            </div>
            <div class="col-lg-6 translator-info__item">
                <div class="info-wrap ">
                    <h5>آدرس : </h5>
                    <p class="translator-address">
                        {{info.address}}
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
            <h5>مهارت ها : </h5>
                    <div class="info-wrap">
                        <strong>ترجمه فارسی به انگلیسی :</strong>
                        <span>{{info.fa_to_en == "1" ? "بله":"خیر"}}</span>
                    </div>
                    <div class="info-wrap">
                        <strong>ترجمه انگلیسی به فارسی :</strong>
                        <span>{{info.en_to_fa == "1" ? "بله":"خیر"}}</span>
                    </div>
            </div>
        </div>
        <h4 class="mt-5 mb-4">سفارشات انجام شده توسط مترجم</h4>
        <table class="table OrdersTable">
            {% if completed_orders %}
                  <thead>
                <tr>
                    <th class="bg-teal-dark">شماره سفارش</th>
                    <th class="bg-teal-dark">تعداد صفحات</th>
                    <th class="bg-teal-dark">زبان ترجمه</th>
                    <th class="bg-teal-dark">رشته</th>
                    <th class="bg-teal-dark">کیفیت ترجمه</th>
                    <th class="bg-teal-dark">هزینه ترجمه</th>
                    <th class="bg-teal-dark">سهم شما</th>
                    <th class="bg-teal-dark">جزییات</th>
                </tr>
            </thead>
            <tbody>
                {% for order in completed_orders %}
                    <tr>
                        <td data-label="شماره سفارش">
                            {{order.order_number}}</td>
                        <td data-label="تعداد صفحات">
                            {{order.word_numbers / 250 | round(0,'ceil') }}</td>
                        <td data-label="زبان ترجمه">
                            {{order.translation_lang == "1"? "انگلیسی به فارسی": "فارسی به انگلیسی"}}
                        </td>
                        <td data-label="رشته">
                            {{order.study_field}}
                        </td>
                        <td data-label="کیفیت ترجمه">
                            {{ order.translation_quality == "5" ? "نقره ای" : "طلایی" }}
                        </td>
                        <td data-label="هزینه ترجمه">
                            {{order.order_price |number_format}}
                            تومان</td>
                        <td data-label="سهم شما">
                            {{ ((order.order_price*15)/100 | round(0,'ceil')) |number_format}}
                            تومان</td>
                        <td class="order-more-info" data-label="جزییات">
                            <a href="/admin/order/view/{{order.order_number}}">
                                <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                    <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <h4 class="text-center">این مترجم تاکنون ترجمه ای انجام نداده است !</h4>        
            {% endif %}
            
        </table>
        {% include 'admin/includes/pagination.twig' with {
            'count' : completed_count,
            'current_page' : completed_current_page,
            'page_prefix':'c_',
            'base_path' : '/admin/translator/info/' ~ info.username,
            'offset' : 10,
            'visible_numbers' : 3
        } %}
        <h4 class="mt-5 mb-4">سفارشات درحال انجام توسط مترجم</h4>
        <table class="table OrdersTable" >
            {% if pending_orders %}
                <thead>
                <tr>
                    <th class="bg-teal-dark">شماره سفارش</th>
                    <th class="bg-teal-dark">تعداد صفحات</th>
                    <th class="bg-teal-dark">زبان ترجمه</th>
                    <th class="bg-teal-dark">رشته</th>
                    <th class="bg-teal-dark">کیفیت ترجمه</th>
                    <th class="bg-teal-dark">هزینه ترجمه</th>
                    <th class="bg-teal-dark">سهم شما</th>
                    <th class="bg-teal-dark">جزییات</th>
                </tr>
            </thead>
            <tbody>
                {% for order in pending_orders %}
                    <tr>
                        <td data-label="شماره سفارش">
                            {{order.order_number}}</td>
                        <td data-label="تعداد صفحات">
                            {{order.word_numbers / 250 | round(0,'ceil') }}</td>
                        <td data-label="زبان ترجمه">
                            {{order.translation_lang == "1"? "انگلیسی به فارسی": "فارسی به انگلیسی"}}
                        </td>
                        <td data-label="رشته">
                            {{order.study_field}}
                        </td>
                        <td data-label="کیفیت ترجمه">
                            {{ order.translation_quality == "5" ? "نقره ای" : "طلایی" }}
                        </td>
                        <td data-label="هزینه ترجمه">
                            {{order.order_price |number_format}}
                            تومان</td>
                        <td data-label="سهم شما">
                            {{ ((order.order_price*15)/100 | round(0,'ceil')) |number_format}}
                            تومان</td>
                        <td class="order-more-info" data-label="جزییات">
                            <a href="/admin/order/view/{{order.order_number}}">
                                <svg height="23px" viewBox="0 0 50 80" width="13px" xml:space="preserve">
                                    <polyline fill="none" points="45.63,75.8 0.375,38.087 45.63,0.375 " stroke-linecap="round" stroke-linejoin="round" stroke-width="10" stroke="#a9a9a9"></polyline>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <h4 class="text-center">این مترجم پروژه درحال انجامی ندارد !</h4>                
            {% endif %}
        </table>
        {% include 'admin/includes/pagination.twig' with {
            'count' : pending_count,
            'current_page' : pending_current_page,
            'page_prefix':'p_',
            'base_path' : '/admin/translator/info/' ~ info.username,
            'offset' : 10,
            'visible_numbers' : 3
        } %}
    </div>
</div>

</main>
{# show translator avatar in zoom mode #}
<div id="lightboxModal" class="lightbox">
    <!-- The Close Button -->
    <span id="closeModal" class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="lightbox-content" id="lightboxPhoto">

    <!-- Modal Caption (Image Text) -->
    <div id="lightboxCaption"></div>
</div>
{% endblock %}

{% block script_below %}
<script>
//handle lightbox
//show the translator avatar in large mode
// Get the modal
function handleImgClick(e){
    modal.style.display = "block";
    let image=e.currentTarget.src;
    modalImg.src=image;
    captionText.innerHTML = e.currentTarget.getAttribute("alt");
}
let modal = document.getElementById('lightboxModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var images= document.querySelectorAll('.lightbox-enabled');
var modalImg = document.getElementById("lightboxPhoto");
var captionText = document.getElementById("lightboxCaption");
images.forEach(function(img){
    img.addEventListener("click",handleImgClick);
})
// Get the <span> element that closes the modal
var span = document.getElementById("closeModal");
// When the user clicks on <span> (x), close the modal
span.addEventListener("click",function(e){
    modal.style.display = "none";
})

</script>
{% endblock %}